@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: auto;
}
.link-btn{
    background: linear-gradient(to right, #f0932b, #eb4d4b);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px;
}
p{
    text-align: justify;
}
section{
    margin-bottom: 50px;
}
.header-content,
.dream-content,
.experience-content{
    display: flex;
}
.orange-color{
    color: orange;
}
.profile-greetings{
    color: forestgreen;
    display: block;
}
/* header part css start */
.header-area{
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.header-content .header-left,
.header-content .header-right,
.dream-content .dream-left,
.dream-content .dream-right{
    width: 50%;
}
.header-right img{
    width: 99%;
    margin-left: 1%;
}
.header-area h1{
    font-size: 45px;
    font-weight: 600;
    padding: 25px 0;
}
.header-left h3,
.dream-right h3{
    padding: 15px 0;
    font-weight: 600;
}

/* Dream big part css start */
.dreamBig-area{
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom 100px right;
}
.dream-content .dream-left img{
    width: 100%;
}
.dream-right{
    padding-left: 75px;
}
.dream-right h2{
    font-size: 40px;
    font-weight: 500;
    padding-top: 40px;
}
/* experience part css start */
.experience-area{
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom 15%;
    background-size: contain;
}
.experience-heading h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 20px 0;
}
.experience-content{
    justify-content: space-between;
}
.experience-content h2{
    padding: 10px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.experience-content h3{
    padding: 15px 0;
    font-weight: 600;
}

.experience-left,
.experience-right{
    width: 49%;
    box-shadow: 10px 10px 40px gray;
    padding: 40px 20px 75px;
    box-sizing: border-box;
    border-radius: 5px;
}
.experience-left{
    border-left: 7px solid;
    border-image: linear-gradient(brown, tomato);
    border-image-slice: 1;
}
.experience-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
/* footer ara css start */
.footer-area p{
    text-align: center;
    color: #535c68;
    font-weight: 500;
    padding: 75px 0 15px;
}